<div class="larger shadow p-5">
    <div class="mb-4  d-flex justify-content-center fs-1 fw-bold " style="color: red;">
        ENTER THE CORRECT ANSWER
    </div>

    <form [formGroup]="mathForm">
        <div class="input-group mb-3">
            <div class="input-group input-group-lg">
                <span class="input-group-text" id="inputGroup-sizing-lg">{{firstNumber}} + {{secondNumber}}=</span>
                <input type="text" class="form-control" formControlName="answer" aria-label="Sizing example input"
                    aria-describedby="inputGroup-sizing-lg">
            </div>
        </div>
    </form>

    <div class="d-flex justify-content-evenly fw-bold">
        <div>
            Total Seconds: {{totalSeconds | number:"1.1-3"}}
        </div>
        <div>
            Average Seconds: {{averageSeconds | number:"1.1-3"}}
        </div>
        <div>
            Total Correct Answer: {{solved}}
        </div>
    </div>

</div>

<div *ngIf="mathForm.valid" class="d-flex justify-content-evenly fs-3 fw-bold shadow p-3" style="color: green;">
    CONGRATULATIONS
</div>
<!-- formlarda debug için aşağıdaki teknikleri kullanmakta fayda vardır -->

<!-- <hr>
<div>Form valid mi : {{mathForm.valid}}</div>
<div>Form degerleri : {{mathForm.value | json}}</div>
<div>Form hataları : {{mathForm.errors | json}}</div> -->