<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap" rel="stylesheet">

<div class="container text-center">
    <main class="content" data-form-type="card">

        <div class="col-md-8" style="display: flex;justify-content: center;">
            <div class="col">
                <div class=" row-md-6">
                    <span class="text-light text-uppercase fst-italic"
                        style="margin-right: 80px; font-size: 30px;">{{"main-title" | translate}}</span>
                </div>
                <div class="row-md-6">
                    <span class="text-light fst-italic" style="font-size: 15px;">{{"main-explain"|translate}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="col">
                <div class="row-12 row-sm-8"></div>
                <div class="w-100 d-none d-md-block"></div>
                <div>
                    <div class="row-6 row-sm-4" style="display: flex; justify-content: flex-start;">
                        <a routerLink="big-projects" class="btn">
                            <span class="btn__circle"></span>
                            <span class="btn__white-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" id="icon-arrow-right" viewBox="0 0 21 12">
                                    <path
                                        d="M17.104 5.072l-4.138-4.014L14.056 0l6 5.82-6 5.82-1.09-1.057 4.138-4.014H0V5.072h17.104z">
                                    </path>
                                </svg>
                            </span>
                            <span class="btn__text fst-italic ">{{'big-p' | translate}}</span>
                        </a>
                    </div>
                    <div class="row-6 row-sm-4 ms-5" style="display: flex; justify-content: flex-start;">
                        <a routerLink="home" class="btn">
                            <span class="btn__circle"></span>
                            <span class="btn__white-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" id="icon-arrow-right" viewBox="0 0 21 12">
                                    <path
                                        d="M17.104 5.072l-4.138-4.014L14.056 0l6 5.82-6 5.82-1.09-1.057 4.138-4.014H0V5.072h17.104z">
                                    </path>
                                </svg>
                            </span>
                            <span class="btn__text fst-italic">{{"lesson-p" | translate}}</span>
                        </a>
                    </div>
                </div>
                <div class="mt-5">
                    <div class="row-6 row-sm-4 ms-5" style="display: flex; justify-content: flex-start;">
                        <a (click)="translateEn()" class="btn">
                            <span class="btn__circle"></span>
                            <span class="btn__white-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" id="icon-arrow-right" viewBox="0 0 21 12">
                                    <path
                                        d="M17.104 5.072l-4.138-4.014L14.056 0l6 5.82-6 5.82-1.09-1.057 4.138-4.014H0V5.072h17.104z">
                                    </path>
                                </svg>
                            </span>
                            <span class="btn__text fst-italic">{{"language-e"|translate}}</span>
                        </a>
                    </div>
                    <div class="row-6 row-sm-4 ms-1" style="display: flex; justify-content: flex-start;">
                        <a (click)="translateTr() " class="btn">
                            <span class="btn__circle"></span>
                            <span class="btn__white-circle">
                                <svg xmlns="http://www.w3.org/2000/svg" id="icon-arrow-right" viewBox="0 0 21 12">
                                    <path
                                        d="M17.104 5.072l-4.138-4.014L14.056 0l6 5.82-6 5.82-1.09-1.057 4.138-4.014H0V5.072h17.104z">
                                    </path>
                                </svg>
                            </span>
                            <span class="btn__text fst-italic">{{"language-t"|translate}}</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </main>

</div>