@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.explanation {
  margin-left: 50px;
  margin-top: 10px;
}
