<!-- <section class="hero is-info">
    <div class="hero-body">
        <p class="title">
            The goal of the project
        </p>
        <p class="subtitle">
            In this project : Data is passed between components and ngFor is used.
        </p>
    </div>
</section> -->

<div style="height: 190px;">
    <app-goal [content]="contents"></app-goal>
</div>

<div class="d-flex justify-content-center">
    <button mat-raised-button color="accent" class="mt-2 fs-5 p-2" (click)="change()">
        {{isCard? "Open The Pipes" : "Open The Cards" }}</button>
</div>
<div class="main" *ngIf="isCard">
    <app-card *ngFor="let post of posts" [title]="post.title" [imageUrl]="post.imageUrl" [username]="post.username"
        [content]="post.content"></app-card>
</div>


<div *ngIf="!isCard">
    <div class="container" style="margin-left: 150px;">
        <div class="row m-5">
            <span class="fs-2 text-danger">INVOICE</span>
            <div class="col-md-6 mt-4">
                <div>
                    <label>Name: </label>
                    <input class="input-group-text" style="width: 350px;" type="text"
                        (input)="onNameChange($any($event.target).value)">
                </div>

            </div>
            <div class="col-md-6 mt-4">
                <div>
                    <label>Name: </label>
                    <br>
                    <span class="text-info fw-bold">{{name | titlecase}}</span>
                </div>
            </div>
        </div>
        <div class="row m-5">
            <div class="col-md-6 mt-4">
                <div>
                    <label>Payment Date: </label>
                    <input class="input-group-text" style="width: 350px;" type="date"
                        (input)="onDateChange($any($event.target).value)">
                </div>

            </div>
            <div class="col-md-6 mt-4">
                <div>
                    <label>Payment Date: </label>
                    <br>
                    <span class="text-info fw-bold">{{date | date:"MMMM d,y"}}</span>
                </div>
            </div>
        </div>
        <div class="row m-5">
            <div class="col-md-6 mt-4">
                <div>
                    <label>Total: </label>
                    <input class="input-group-text" style="width: 350px;" type="number"
                        (input)="onTotalChange($any($event.target).value)">
                </div>

            </div>
            <div class="col-md-6 mt-4">
                <div>
                    <label>Total: </label>
                    <br>
                    <span class="text-info fw-bold">{{total | currency}}</span>
                </div>
            </div>
        </div>
        <div class="row m-5">
            <span class="fs-2 text-danger">EXTRA</span>
            <div class="col-md-6 mt-4">
                <div>
                    <label>Size: </label>
                    <input class="input-group-text" style="width: 350px;" type="number"
                        (input)="onSizeChange($any($event.target).value)">
                </div>

            </div>
            <div class="col-md-6 mt-4">
                <div>
                    <label>Size: </label>
                    <br>
                    <span class="text-info fw-bold">{{size | number:"1.1-4"}}</span>
                </div>
            </div>
        </div>
        <div class="row m-5">
            <p>{{person | json}}</p>
        </div>
    </div>

</div>
<!-- Değişken ismi -- Gönderilen değerler -->

<!-- <app-card 
[title]="posts[0].title" 
[imageUrl]="posts[0].imageUrl" 
[username]="posts[0].username"
[content]="posts[0].content">
</app-card>
<app-card 
[title]="posts[1].title" 
[imageUrl]="posts[1].imageUrl" 
[username]="posts[1].username"
[content]="posts[1].content">
</app-card>
<app-card 
[title]="posts[2].title" 
[imageUrl]="posts[2].imageUrl" 
[username]="posts[2].username"
[content]="posts[2].content">
</app-card> -->