<div class="ui items">
    <div class="item" *ngFor="let item of items">
        <div class="image">
            <img src="{{item.imageUrl}}">
        </div>
        <div class="content">
            <a class="header">{{eng?item.title:item.titleTr}}</a>
            <div class="meta">
                <span>{{eng?item.description:item.descriptionTr}}</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                {{eng?"Additional details : ON SALE!!!":"Ek ayrıntılar : SATIŞTA!!!"}}
            </div>
        </div>
    </div>
</div>