<div class="ui items">
    <div class="item" *ngFor="let item of items">
        <div class="image">
            <img src="{{item.imageUrl}}">
        </div>
        <div class="content">
            <a class="header">{{item.title}}</a>
            <div class="meta">
                <span>{{item.description}}</span>
            </div>
            <div class="description">
                <p></p>
            </div>
            <div class="extra">
                Additional details : ON SALE!!!
            </div>
        </div>
    </div>
</div>