<mat-toolbar class="d-flex justify-content-start" color="primary">
    <div style="cursor: pointer;" routerLink="/big-projects/stackoverflow-project">
        Stackoverflow
    </div>
    <div class="row">
        <div *ngIf="userService.user == undefined" routerLink="/big-projects/stackoverflow-project/sof-login"
            class="col-md-4 mx-4" style="cursor: pointer;" mat-button>
            Login
        </div>
        <div *ngIf="userService.user != undefined" (click)="logout()" class="col-md-4 mx-4" style="cursor: pointer;"
            mat-button>
            Logout
        </div>
        <div (click)="leave()" class="col-md-4 p-0" routerLink="/big-projects" style="cursor: pointer;" mat-button>
            LEAVE
        </div>
    </div>
    <app-google-translate></app-google-translate>
</mat-toolbar>