<mat-toolbar class="d-flex justify-content-center" color="primary">
    <div style="cursor: pointer;" routerLink="/big-projects/stackoverflow-project">
        Stackoverflow
    </div>
    <div>
        <div id="google_translate_element" style="position: absolute; z-index: 10000; right: 0"></div>
        <div #elementRef></div>
    </div>

    <div class="row">

        <div *ngIf="userService.user == undefined" routerLink="/big-projects/stackoverflow-project/sof-login"
            class="col-md-4 me-4" style="cursor: pointer;" mat-button>
            Login
        </div>
        <div *ngIf="userService.user != undefined" (click)="logout()" class="col-md-4 me-4" style="cursor: pointer;"
            mat-button>
            Logout
        </div>
        <div (click)="leave()" class="col-md-4" routerLink="/big-projects" style="cursor: pointer;" mat-button>
            LEAVE
        </div>
    </div>
</mat-toolbar>