<!-- Angular Abstract Control => touched, dirty and errors  -->

<div class="field">
    <label class="label">{{label}}</label>
    <div class="control">
        <input type="text" class="input" placeholder="{{eng?'Text Input':'Metin Girişi'}}" [formControl]="control "
            [ngClass]="{'is-danger':showErrors()}">
    </div>
</div>

<ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors?.['required']">
        *{{eng?'Required field.':'Bu alan boş bırakılamaz.'}}
    </div>
    <div class="help is-danger" *ngIf="control.errors?.['minlength']">
        *{{eng?"The value you entered contains":"Girdiğiniz değer"}}
        {{control.errors?.['minlength']?.['actualLength']}}
        {{eng?"characters. But it should be at least":"karakter içeriyor. Ama en az"}}
        {{control.errors?.['minlength']?.['requiredLength']}}
        {{eng?"":"olmalı"}}.
    </div>
    <div class="help is-danger" *ngIf="control.errors?.['maxlength']">
        *{{eng?"The value you entered contains":"Girdiğiniz değer"}}
        {{control.errors?.['maxlength']?.['actualLength']}}
        {{eng?"characters. But the maximum should be":"karakter içeriyor. Ama en fazla"}}
        {{control.errors?.['maxlength']?.['requiredLength']}}
        {{eng?"":"olmalı"}}.
    </div>
</ng-container>