<!-- Angular Abstract Control => touched, dirty and errors  -->

<div class="field">
    <label class="label">{{label}}</label>
    <div class="control">
        <input type="text" class="input" placeholder="Text Input" [formControl]="control "
            [ngClass]="{'is-danger':showErrors()}">
    </div>
</div>

<ng-container *ngIf="showErrors()">
    <div class="help is-danger" *ngIf="control.errors?.['required']">
        *Required field.
    </div>
    <div class="help is-danger" *ngIf="control.errors?.['minlength']">
        *The value you entered contains
        {{control.errors?.['minlength']?.['actualLength']}}
        characters. But it should be at least
        {{control.errors?.['minlength']?.['requiredLength']}}
        .
    </div>
    <div class="help is-danger" *ngIf="control.errors?.['maxlength']">
        *The value you entered contains
        {{control.errors?.['maxlength']?.['actualLength']}}
        characters. But the maximum should be
        {{control.errors?.['maxlength']?.['requiredLength']}}
        .
    </div>
</ng-container>