<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLinkActive="active" routerLink="home" class=" item">
            Home
        </a>
        <a routerLinkActive="active" routerLink="placeholders" class=" item">
            Placeholders
        </a>
        <a routerLinkActive="active" routerLink="tables" class="item">
            Tables
        </a>
        <a routerLinkActive="active" routerLink="lists" class="item">
            Lists
        </a>
        <!-- <a routerLinkActive="active" routerLink="popups" class="item">
            Popups
        </a> -->
        <div class="right menu">
            <a routerLink="/home" class="item">
                Logout
            </a>
        </div>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>