<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLinkActive="active" routerLink="home" class=" item">
            {{"r-home"|translate}}
        </a>
        <a routerLinkActive="active" routerLink="placeholders" class=" item">
            {{"r-placeholders"|translate}}

        </a>
        <a routerLinkActive="active" routerLink="tables" class="item">
            {{"r-tables"|translate}}
        </a>
        <a routerLinkActive="active" routerLink="lists" class="item">
            {{"r-lists"|translate}}
        </a>
        <!-- <a routerLinkActive="active" routerLink="popups" class="item">
            Popups
        </a> -->
        <div class="right menu">
            <a routerLink="/home" class="item">
                {{"r-logout"|translate}}
            </a>
        </div>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>