<app-goal [content]="content"></app-goal>
<div class="mainArea" style="margin-top: 50px;">
    <div class="container">
        <div class="columns is-centered">
            <div class="box column is-one-third">
                <h1 class="title has-text-centered">Letter Matching</h1>

                <p class="has-text-centered">
                    Random Text
                </p>
                <div class="field" style="margin-top: 10px;">
                    <input class="input" />
                </div>
                <div>
                    <h1 class="title" style="text-align: center; margin-top: 20px; color:red">Congratulations!!!</h1>
                </div>
            </div>
        </div>
    </div>
</div>