<app-goal [content]="eng? content : contentTr"></app-goal>
<div class="mainArea" style="margin-top: 70px;">
    <div class="container">
        <div class="columns is-centered">
            <div class="box column is-one-third">
                <h1 class="title has-text-centered">{{eng?"Letter Matching":"Harf Eşleştirme"}}</h1>
                <p class="has-text-centered">
                    <span [class]="compare(letter,enteredText[i])"
                        *ngFor="let letter of randomText.split(''); let i =index">{{letter}}</span>
                </p>
                <div class="field" style="margin-top: 10px;">
                    <input class="input" (input)="getInputValue($any($event.target).value)" />
                </div>

                <div *ngIf="randomText === enteredText">
                    <h1 class="title" style="text-align: center; margin-top: 20px; color:rgb(3, 179, 3)">
                        {{eng?"Congratulations!!!":"Tebrikler!!!"}}</h1>
                </div>
                <button class="cong button is-primary is-outlined"><a class="cong2" href="home/letter-matching-project">
                        {{eng?"New Text":"Yeni Metin"}}</a></button>
            </div>
        </div>
    </div>
</div>