<div class="ui container">
    <div class="ui secondary pointing menu">
        <a routerLinkActive="active" routerLink="placeholders" class="active item">
            Placeholders
        </a>
        <a routerLinkActive="active" routerLink="tables" class="item">
            Tables
        </a>
        <div class="right menu">
            <a routerLink="/home" class="ui item">
                Logout
            </a>
        </div>
    </div>
    <div class="ui segment">
        <router-outlet></router-outlet>
    </div>
</div>