<div class="container">
    <div class="form-container">
        <div class="title">Hesap Oluştur</div>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Emailinizi Giriniz</mat-label>
                <input matInput />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Kullanıcı Adınızı Giriniz</mat-label>
                <input matInput />
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Şifrenizi Giriniz</mat-label>
                <input type="password" matInput />

            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login-button">
                Kaydol
            </button>
            <p>Veya</p>
            <a href="/big-projects/stackoverflow-project/sof-login"> <button mat-button>Giriş Yap</button></a>
        </div>
    </div>
</div>