<div class="container">
    <div class="form-container">
        <div class="title">HESAP OLUŞTUR</div>
        <form [formGroup]="accountForm">
            <mat-form-field appearance="outline">
                <mat-label>Email girin...</mat-label>
                <input matInput formControlName="email" />
                <mat-error>
                    <p *ngIf="f['email'].errors && f['email'].errors['required']">Email zorunlu..</p>
                    <p *ngIf="f['email'].errors && f['email'].errors['email']">E-posta biçimini doğru girin..</p>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Kullanıcı adı girin...</mat-label>
                <input matInput formControlName="username" />
                <mat-error>
                    <p *ngIf="f['password'].errors && f['password'].errors['required']">Kullanıcı Adı zorunlu..</p>
                    <p *ngIf="f['password'].errors && f['password'].errors['maxlength']">En fazla 10 karakter girin..
                    </p>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Şifre girin...</mat-label>
                <input type="password" matInput formControlName="password" />
                <mat-error>
                    <p *ngIf="f['password'].errors && f['password'].errors['required']">Şifre zorunlu..</p>
                    <p *ngIf="f['password'].errors && f['password'].errors['minlength']">En az 8 karakter girin..</p>
                </mat-error>
            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button (click)="createAccount()" [disabled]="accountForm.invalid" mat-raised-button class="login-button">
                Kayıt Ol
            </button>
            <p>ya da</p>
            <button routerLink="/big-projects/stackoverflow-project/sof-login" mat-button color="primary">
                Giriş Yap
            </button>
            <!-- {{accountForm.value |json}} -->
        </div>
    </div>
</div>