<form [formGroup]="cardForm" (ngSubmit)="onSubmit()">

    <app-rf-input label="Full Name" [control]="cardForm.get('name')"></app-rf-input>
    <app-rf-input label="Card Number" [control]="cardForm.get('cardNumber')"></app-rf-input>
    <app-rf-input label="Expiration Date" [control]="cardForm.get('expiration')"></app-rf-input>
    <app-rf-input label="Security Code" [control]="cardForm.get('securityCode')"></app-rf-input>
    <button class="button is-primary" [disabled]="cardForm.invalid" type="sumbit">Kaydet</button>
</form>

<div>
    Form içeriği: {{cardForm.value | json}}
</div>
<div>
    Form valid mi? : {{cardForm.valid ? "evet" : "hayır"}}
</div>

<div> Form Hataları : {{cardForm.get("name")?.errors | json}}</div>