* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-size: 20px;
}
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
section.light,
section.dark {
  display: flex;
  width: 50vw;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}
section.light {
  background-color: #e0e5ec;
  width: 100vw;
}
section.dark {
  background-color: #131419;
}
div.circle,
div.circle_black {
  position: relative;
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  align-items: center;
  justify-content: center;
}
div.circle:before,
div.circle_black:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 150px;
  height: 150px;
  content: " ";
  cursor: pointer;
  transition: 0.3s ease-out;
  border-radius: 150px;
  filter: blur(7px);
}
div.circle.long,
div.circle_black.long {
  width: 250px;
  height: 100px;
}
div.circle.long:before,
div.circle_black.long:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 250px;
  height: 100px;
}
div.circle:before {
  box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff;
}
div.circle_black:before {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5),
    -8px -8px 20px rgba(255, 255, 255, 0.2);
}
div.circle:hover:before {
  box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff,
    inset -8px -8px 20px #fff, inset 8px 8px 20px #a9a8b7;
}
div.circle_black:hover:before {
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.5),
    -8px -8px 20px rgba(255, 255, 255, 0.2), inset 8px 8px 20px rgba(0, 0, 0, 1),
    inset -8px -8px 20px rgba(255, 255, 255, 0.2);
}
div.circle:hover:before,
div.circle_black:hover:before {
  transition: 0.3s ease-in;
  transform: scale(1.05);
}
div.circle p,
div.circle_black p {
  position: relative;
  z-index: 5;
  user-select: none;
  cursor: pointer;
}
div.circle_black {
  color: white;
}
@media (max-width: 700px) {
  body {
    height: auto;
    flex-direction: column;
  }
  section.light,
  section.dark {
    width: 100vw;
    height: 100vh;
  }
}

CSS FOR JUST ONE BUTTON section.light {
  background-color: #e0e5ec;
}

div.circle {
  position: relative;
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  align-items: center;
  justify-content: center;
}

div.circle:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 150px;
  height: 150px;
  content: " ";
  cursor: pointer;
  transition: 0.75s ease-out;
  border-radius: 150px;
  filter: blur(7px);
  box-shadow: 8px 8px 20px #a9a8b7, -8px -8px 20px #fff;
}
div.circle_black:hover:before {
  transition: 0.75s ease-in;
  transform: scale(1.1);
}

/* * {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

.btn {
  display: inline-block;
  color: #ffffff;
  padding: 32px;
  position: relative;
  letter-spacing: 1px;
}
.btn__circle,
.btn__text,
.btn__white-circle {
  position: absolute;
}
.btn__circle {
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 100%;
  width: 100%;
  box-shadow: 0 0 1px 1px #fff;
  transition: 0.3s linear;
}
.btn__white-circle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: #ffffff;
  display: flex;
  transition: 0.3s ease-in-out;
}
.btn__white-circle svg {
  width: 24px;
  height: 24px;
  margin: auto;
}
.btn__text {
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
  z-index: 2;
  padding: 24px 8px;
  transition: 0.3s linear;
}
.btn:hover .btn__circle {
  transform: scale(0);
}
.btn:hover .btn__white-circle {
  transform: translate(-50%, -50%) scale(1);
}
.btn:hover .btn__text {
  transform: translate(40px, -50%);
}

.content {
  background: black;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
} */
