<section class="light">
    <div routerLink="blog-website-project" class="circle long">
        <p>{{"blog-w"|translate}}</p>
    </div>
</section>
<section class="light">
    <div routerLink="stackoverflow-project" class="circle long">
        <p>{{"sof-w"|translate}}</p>
    </div>
</section>
<section class="light">
    <div routerLink="jira-project" class="circle long">
        <p>{{"jira-w"|translate}}</p>
    </div>
</section>
<section class="light">
    <div routerLink="" class="circle long">
        <p class="text-danger fs-5 fw-normal text-uppercase">{{"back"|translate}}</p>
    </div>
</section>