<div class="container">
    <div class="form-container">
        <div class="title">Giriş</div>
        <form>
            <mat-form-field appearance="outline">
                <mat-label>Emailinizi Giriniz</mat-label>
                <input matInput />

            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Şifrenizi Giriniz</mat-label>
                <input type="password" matInput />

            </mat-form-field>
        </form>
        <div class="buttons-container">
            <button mat-raised-button class="login-button">
                Giriş Yap
            </button>
            <p>Veya</p>
            <a href="/big-projects/stackoverflow-project/sof-account"> <button mat-button>Hesap Oluştur</button></a>
        </div>
    </div>
</div>