<div class="container">
    <div class="form-container">
        <div class="title">GİRİŞ</div>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Email girin...</mat-label>
                <input matInput formControlName="email" />
                <mat-error>
                    <p *ngIf="f['email'].errors && f['email'].errors['required']">Email zorunlu..</p>
                    <p *ngIf="f['email'].errors && f['email'].errors['email']">E-posta biçimini doğru girin..</p>
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Şifre girin...</mat-label>
                <input type="password" matInput formControlName="password" />
                <mat-error>
                    <p *ngIf="f['password'].errors && f['password'].errors['required']">Şifre zorunlu..</p>
                    <p *ngIf="f['password'].errors && f['password'].errors['minlength']">
                        Girdiğiniz karakter sayısı: {{loginForm.value.password.length}}. En az 8 karakter girin..</p>
                </mat-error>
            </mat-form-field>
        </form>
        <div class="buttons-container mt-3">
            <button (click)="login()" [disabled]="!loginForm.valid" mat-raised-button class="login-button">
                Giriş
            </button>
            <p>ya da</p>
            <button routerLink="/big-projects/stackoverflow-project/sof-account" mat-button color="primary">
                Hesap Oluştur
            </button>
            <!-- {{loginForm.value | json}}
            {{loginForm.valid}} -->
        </div>
    </div>
</div>