<div class="container">
    <div class="form-container">
        <div class="title">LOGIN</div>
        <form [formGroup]="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Enter your email...</mat-label>
                <input matInput formControlName="email" />
                <mat-error>
                    <p *ngIf="f['email'].errors && f['email'].errors['required']">Email is required..</p>
                    <p *ngIf="f['email'].errors && f['email'].errors['email']">Enter the email format correctly..</p>
                </mat-error>
            </mat-form-field>


            <mat-form-field appearance="outline">
                <mat-label>Enter your password...</mat-label>
                <input type="password" matInput formControlName="password" />
                <mat-error>
                    <p *ngIf="f['password'].errors && f['password'].errors['required']">Password is required..</p>
                    <p *ngIf="f['password'].errors && f['password'].errors['minlength']">
                        Number of characters you entered: {{loginForm.value.password.length}} .Enter a minimum of 8
                        characters..</p>
                </mat-error>
            </mat-form-field>
        </form>
        <div class="buttons-container mt-3">
            <button (click)="login()" [disabled]="!loginForm.valid" mat-raised-button class="login-button">
                Login
            </button>
            <p>Or</p>
            <button routerLink="/big-projects/stackoverflow-project/sof-account" mat-button color="primary">Create
                Account</button>
            <!-- {{loginForm.value | json}}
            {{loginForm.valid}} -->
        </div>
    </div>
</div>