<h2 mat-dialog-title>Yeni Kart</h2>

<mat-dialog-content>
    <mat-form-field style="width: 100%;">
        <mat-label>Başlık</mat-label>
        <input matInput [(ngModel)]="title">
    </mat-form-field>

    <div *ngFor="let task of tasksLoop;let i=index">
        <mat-form-field style="width: 90%;">
            <mat-label>Görev{{i+1}}</mat-label>
            <input [(ngModel)]="tasks[i]" matInput>
        </mat-form-field>
        <button (click)="deleteTask(i)" mat-icon-button style="width: 10%;">
            <mat-icon>delete</mat-icon>
        </button>
    </div>

</mat-dialog-content>

<mat-dialog-actions class="d-flex justify-content-between">
    <div>
        <button (click)="addTask()" mat-raised-button>Task Artır</button>
    </div>
    <div>
        <button (click)="close()" mat-raised-button color="accent">İptal Et</button>
        <button mat-raised-button (click)="create()" color="primary">Ekle</button>
    </div>
</mat-dialog-actions>