<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

<!-- <div>
    <h1>Şifre Oluşturucu</h1>

    <div>
        <label> Şifre Uzunluğu </label>
        <input type="text" (change)="uzunluk($any($event.target).value)">
    </div>
    <div>
        <label> Alfabeyi Kullan </label>
        <input (change)="modifyLetters()" type="checkbox">
    </div>
    <div>
        <label> Sayıları Kullan </label>
        <input (change)="modifyNumbers()" type="checkbox">
    </div>
    <div>
        <label> Sembolleri Kullan </label>
        <input (change)="modifySymbols()" type="checkbox">
    </div>
    <div>
        <button [disabled]="!(length && (includeLetters || includeNumbers || includeSymbols))"
            (click)="buttonClick()">Oluştur</button>
    </div>
    <div>
        <label> Şifreniz </label>
        <input [value]="password">
    </div>
</div> -->



<app-goal [content]="eng ? contentEn : contentTr "></app-goal>

<div class="mainArea">
    <div class="container">
        <div class="columns is-centered">
            <div class="box column is-one-third">
                <h1 class="title has-text-centered">{{eng ? "Password Generator" : "Şifre Oluşturucu"}}</h1>

                <div class="field">
                    <label>{{eng ? "Password Length":"Şifre Uzunluğu"}} </label>
                    <input style="margin-top: 7px;" class="input" (change)="modifyLength($any($event.target).value)" />
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input (change)="modifyLetters()" type="checkbox" />
                            {{eng?"Use Alphabet":"Alfebeyi Kullan"}}
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input (change)="modifyNumbers()" type="checkbox" />
                            {{eng?"Use Numbers":"Sayıları Kullan"}}
                        </label>
                    </div>
                </div>

                <div class="field">
                    <div class="control">
                        <label class="checkbox">
                            <input (change)="modifySymbols()" type="checkbox" />
                            {{eng?"Use Symbols":"Sembolleri"}}
                        </label>
                    </div>
                </div>

                <button [disabled]="
              !(length && (includeLetters || includeSymbols || includeNumbers))
            " [disabled]="!length" (click)="buttonClick()" class="button is-link is-fullwidth">
                    {{eng?"Create":"Oluştur"}}
                </button>

                <div style="margin-top: 10px;" class="box" *ngIf="password">
                    <label>{{eng?"Password":"Şifre"}}</label>
                    <input style="margin-top: 7px;" class="input" [value]="password" />
                </div>
            </div>
        </div>
    </div>
</div>