<app-rst-divider>
    {{eng?"Satisfaction Survey":"Memnuniyet Anketi"}}
</app-rst-divider>

<!-- <table class="ui striped celled table">
    <thead>
        <tr>
            <th *ngFor="let header of headers">{{header.label}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of datas">
            <th *ngFor="let header of headers">{{data[header.key]}}</th>
        </tr>
    </tbody>
</table> -->

<table class="ui striped celled table">
    <thead>
        <tr>
            <th *ngFor="let header of headers">{{eng?header.label:header.labelTr}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of datas">
            <th>{{data.name}}</th>
            <th>{{data.age}}</th>
            <th>{{eng?data.job:data.jobTr}}</th>
            <th>{{eng?data.employed:data.employedTr}}</th>
        </tr>
    </tbody>
</table>


<app-rst-divider>
    {{eng?"Extra Surveys":"Ektra Anketler"}}
</app-rst-divider>

<div class="ui grid">
    <div class="four wide column">
        <div class="ui vertical fluid tabular menu">
            <a routerLinkActive="active" routerLink="survey-one" [routerLinkActiveOptions]="{exact:true}"
                class="item active">
                {{eng?"Salary Survey":"Maaş Anketi"}}
            </a>
            <a routerLinkActive="active" routerLink="survey-two" class="item">
                {{eng?"Holiday Survey":"Tatil Anketi"}}
            </a>
        </div>
    </div>
    <div class="twelve wide stretched column">
        <div class="ui segment">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>