<div class="container">
    <div class="d-flex justify-content-end mt-5 my-3">
        <button mat-raised-button (click)="openNewCardDialog()" color="accent">Yeni Kart Ekle</button>
    </div>
    <mat-card class="matCard my-3" *ngFor="let card of jiraBoardsService.boards[boardid].cards;let i = index">
        <mat-card-title>{{card.title}}</mat-card-title>
        <mat-card-content class="d-flex justify-content-between">
            <div class="d-flex flex-column">
                <mat-checkbox *ngFor="let checkbox of card.checklist;let ikinci = index"
                    [(ngModel)]="card.status[ikinci]">
                    {{checkbox}}
                </mat-checkbox>
            </div>
            <div class="d-flex justify-content-end align-items-end">
                <button mat-mini-fab color="primary" (click)="deleteCard(i)"
                    aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
        </mat-card-content>
    </mat-card>
</div>