<div class="container">
    <div class="row">
        <div class="col-md-4  col-sm-6 mt-3" *ngFor="let post of posts">
            <mat-card class="example-card">
                <mat-card-header>
                    <!-- <div mat-card-avatar class="example-header-image"></div> -->
                    <mat-card-title style="overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;">{{post.title}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="assets/images/image{{post.imageId}}.jpg">
                <mat-card-content style="overflow: hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;">
                    <p>
                        {{post.body}}
                    </p>
                </mat-card-content>
                <mat-card-actions>

                    <div style="margin-left:4px ;">
                        <div class="row">
                            <div class="col-md-5 "> <button (click)="openDialog(post,false)" mat-raised-button
                                    color="primary">View</button>
                                <button (click)="openDialog(post,true)" mat-raised-button color="accent">Edit</button>
                            </div>
                            <div class="col-md-7 ">
                                <a href="/big-projects/blog-website-project/view-blog/{{post.id}}">
                                    <button mat-raised-button color="primary">View Page</button>
                                </a>
                                <a class="ms-2" href="/big-projects/blog-website-project/update-blog/{{post.id}}">
                                    <button mat-raised-button color="accent">Edit Page</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>