<app-goal [content]="content"></app-goal>

<div>
    <div class="mt-3 fs-1 fw-lighter" style="text-align: center; color:red" [ngSwitch]="currentPage">
        <div *ngSwitchCase="0">
            Birinci Sayfa
        </div>
        <!-- Kendi oluşturmuş olduğumuz directive kullanıyoruz. -->
        <div appFirst *ngSwitchCase="1">
            İkinci Sayfa
        </div>
        <div *ngSwitchCase="2">
            Üçüncü Sayfa
        </div>
        <div *ngSwitchDefault>{{currentPage+1}}. Sayfa</div>
    </div>
</div>

<nav>
    <ul class="pagination " style="justify-content: center; margin: 40px;">
        <li style="width: 90px;" class="page-item " [ngClass]="{disabled:currentPage === 0}">
            <a class="page-link" (click)="currentPage=currentPage-1">Previous</a>
        </li>
        <ng-container *ngFor="let image of images; let i = index">
            <li class="page-item" [ngClass]="{active:i===currentPage}" *ngIf="PageIndex(i)">
                <a (click)="currentPage=i" class="page-link">{{i + 1 }}</a>
            </li>
        </ng-container>
        <li style="width: 90px;" class="page-item">
            <a class="page-link" (click)="currentPage= currentPage+1"
                [ngClass]="{disabled:currentPage===images.length-1}">Next</a>
        </li>
    </ul>
</nav>


<!-- ngClass active için kullanım şekilleri
[ngClass]="{active:i === currentPage}"
[ngClass]="i === currentPage ? 'active':'passive'"  -->


<div style="display: flex; justify-content: center;">
    <div class="shadow" style="height: 300px; width: 1000px;">
        <div style="display: flex;justify-content: center;">
            <p style=" font-size: 20px; color:red;">{{images[currentPage].title}}</p>
        </div>
        <div class=" mt-4" style="display: flex ; justify-content: center;">
            <img style="width: 800px; height: 300px;" src="{{images[currentPage].imageUrl}}" alt="">
        </div>
    </div>
</div>