<div class="container">
    <div class="content-wrapper">
        <mat-form-field appearance="fill">
            <textarea matInput cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="Sorunuzu sorun..."></textarea>
        </mat-form-field>
        <div class="new-post-actions-container">
            <button mat-raised-button class="post-button">Sor</button>
        </div>

        <mat-card class="question-card">
            <mat-card-content>
                <p class="username">Can Boz</p>
                <p>
                    Angular zor mu?
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>