<div class="d-flex justify-content-center mt-3">
    <button mat-raised-button (click)="openNewBoardDialog()" color="accent">
        Add New Board
    </button>
</div>

<div style="cursor: pointer;" class="boardD" *ngFor="let board of jiraBoardsService.boards; let i=index"
    [routerLink]="'/big-projects/jira-project/view-board/'+i">
    {{board.title}}
    <div>
        <button mat-icon-button (click)="deleteBoard(i)">
            <mat-icon>delete</mat-icon>
        </button>
    </div>
</div>