<!-- Önceden kullandığımız yöntem buydu. Artık değişim zamanı (: -->
<!-- <app-rst-divider [title]="'Placeholders'"></app-rst-divider> -->

<app-rst-divider>Placeholders</app-rst-divider>

<div class="ui placeholder">
    <div class="image header">
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="paragraph">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>

<app-rst-divider>Segments</app-rst-divider>
<div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="pdf file outline icon"></i>
        No documents are listed for this customer.
    </div>
    <div class="ui primary button">Add Document</div>
</div>