<mat-toolbar color="primary">
    <div routerLink="/big-projects/blog-website-project" style="cursor: pointer;">
        BLOG WEBSITE PROJECT
    </div>
    <app-google-translate></app-google-translate>
</mat-toolbar>
<div class="container mt-5 h165">
    <div class="row" *ngIf="blogPost !=null">
        <div class="col-md-6" style="padding-left: 0px;">
            <img class="w-100 rounded" src="assets/images/image{{blogPost.imageId}}.jpg">
        </div>
        <div class="col-md-6">
            <h2 class="fs-2">{{blogPost.title}}</h2>
            <p>{{blogPost.body}}</p>
        </div>
    </div>
    <h1 class="d-flex justify-content-center mt-5">COMMENTS</h1>
    <hr>
    <div class="row cBtn my-4" *ngFor="let comment of comments">
        <div class="col-md-2">
            <img style="width: 100px; height: 100px; border-radius: 30%;"
                src="assets/images/profile/profile{{comment.userId}}.jpg" alt="">
            <p>{{users[comment.userId-1]?.name}}</p>
            <div>
            </div>
        </div>
        <div class="col-md-10">
            <h3 class="fw-bolder">{{comment.name}}</h3>
            <h4>{{comment.body}}</h4>
        </div>
    </div>
</div>

<!-- <div *ngFor="let user of users">
    {{user.name}}
</div> -->