<div class="container" *ngIf="question!=undefined">
    <div class="content-wrapper cHeight">
        <div class="title-container">
            Soru - Cevap Sayfası
        </div>
        <hr>
        <mat-card class="question-card bgAnt">
            <mat-card-content>
                <div class="solution-container">
                    <div class="data-container">
                        <p class="username">{{question?.username}}</p>
                        <p>
                            {{question?.question}}
                        </p>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>


        <ng-container *ngIf="userService.user!=undefined">
            <mat-form-field appearance="fill">
                <textarea [(ngModel)]="solutionText" matInput cdkTextareaAutosize cdkAutosizeMinRows="5"
                    placeholder="Cevabınızı girin. En az 8 karakter..."></textarea>
            </mat-form-field>
            <!-- {{solutionText.length}} -->
            <div class="new-post-actions-container justify-content-between">
                <button routerLink="/big-projects/stackoverflow-project/sof-home" mat-raised-button color="accent">
                    Sorulara Geri Dön
                </button>
                <button [disabled]="condition()" (click)="postSolutions()" mat-raised-button class="post-button">
                    Kaydet
                </button>
            </div>
        </ng-container>


        <mat-card class="question-card" *ngFor="let solution of question.solutions; let i = index">
            <mat-card-content>
                <div class="solution-container">
                    <div class="arrows-container">
                        <button (click)="plusOne(i,1)" mat-icon-button>
                            <mat-icon>expand_less</mat-icon>
                        </button>
                        <span class="increasedecrease">{{solution.plus.length - solution.minus.length}}</span>
                        <button (click)="plusOne(i,-1)" mat-icon-button>
                            <mat-icon>expand_more</mat-icon>
                        </button>
                    </div>
                    <div class="data-container">
                        <p class="username">{{solution?.username}}</p>
                        <p>
                            {{solution?.solution}}
                        </p>
                    </div>
                    <ng-container
                        *ngIf="userService.user!=undefined && solution.username == userService.user.username ">
                        <div>
                            <button (click)="delete(solution.id)" mat-icon-button>
                                <mat-icon color="warn">delete</mat-icon>
                            </button>
                        </div>
                    </ng-container>
                </div>

            </mat-card-content>
        </mat-card>
    </div>
</div>